# Superstore Sales Data Analysis

## üìå Table of Contents
1. Introduction  
2. Dataset Overview  
3. Data Cleaning  
4. Sales and Profit Analysis  
5. Regional Performance  
6. Time-based Trends  
7. Top Products and Discounts  
8. Delivery Analysis

## 1. Introduction

In this notebook, we analyze the Superstore sales dataset to identify key trends in sales, profit, product performance, and delivery times. This analysis can help the business improve strategic decision-making.

## 2. Dataset Overview

The dataset contains historical sales data including order dates, shipping, product categories, customer locations, sales amounts, profits, discounts, and more.

In [1]:
import pandas as pd
df = pd.read_csv("C:/Users/User/Desktop/Yeni klas√∂r (2)/Sample - Superstore.csv", encoding='latin1')

In [2]:
print(df.info)

<bound method DataFrame.info of       Row ID        Order ID  Order Date   Ship Date       Ship Mode  \
0          1  CA-2016-152156   11/8/2016  11/11/2016    Second Class
1          2  CA-2016-152156   11/8/2016  11/11/2016    Second Class
2          3  CA-2016-138688   6/12/2016   6/16/2016    Second Class
3          4  US-2015-108966  10/11/2015  10/18/2015  Standard Class
4          5  US-2015-108966  10/11/2015  10/18/2015  Standard Class
...      ...             ...         ...         ...             ...
9989    9990  CA-2014-110422   1/21/2014   1/23/2014    Second Class
9990    9991  CA-2017-121258   2/26/2017    3/3/2017  Standard Class
9991    9992  CA-2017-121258   2/26/2017    3/3/2017  Standard Class
9992    9993  CA-2017-121258   2/26/2017    3/3/2017  Standard Class
9993    9994  CA-2017-119914    5/4/2017    5/9/2017    Second Class

     Customer ID     Customer Name    Segment        Country             City  \
0       CG-12520       Claire Gute   Consumer  United States        Henderson
1       CG-12520       Claire Gute   Consumer  United States        Henderson
2       DV-13045   Darrin Van Huff  Corporate  United States      Los Angeles
3       SO-20335    Sean O'Donnell   Consumer  United States  Fort Lauderdale
4       SO-20335    Sean O'Donnell   Consumer  United States  Fort Lauderdale
...          ...               ...        ...            ...              ...
9989    TB-21400  Tom Boeckenhauer   Consumer  United States            Miami
9990    DB-13060       Dave Brooks   Consumer  United States       Costa Mesa
9991    DB-13060       Dave Brooks   Consumer  United States       Costa Mesa
9992    DB-13060       Dave Brooks   Consumer  United States       Costa Mesa
9993    CC-12220      Chris Cortes   Consumer  United States      Westminster

      ... Postal Code  Region       Product ID         Category Sub-Category  \
0     ...       42420   South  FUR-BO-10001798        Furniture    Bookcases
1     ...       42420   South  FUR-CH-10000454        Furniture       Chairs
2     ...       90036    West  OFF-LA-10000240  Office Supplies       Labels
3     ...       33311   South  FUR-TA-10000577        Furniture       Tables
4     ...       33311   South  OFF-ST-10000760  Office Supplies      Storage
...   ...         ...     ...              ...              ...          ...
9989  ...       33180   South  FUR-FU-10001889        Furniture  Furnishings
9990  ...       92627    West  FUR-FU-10000747        Furniture  Furnishings
9991  ...       92627    West  TEC-PH-10003645       Technology       Phones
9992  ...       92627    West  OFF-PA-10004041  Office Supplies        Paper
9993  ...       92683    West  OFF-AP-10002684  Office Supplies   Appliances

                                           Product Name     Sales  Quantity  \
0                     Bush Somerset Collection Bookcase  261.9600         2
1     Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400         3
2     Self-Adhesive Address Labels for Typewriters b...   14.6200         2
3         Bretford CR4500 Series Slim Rectangular Table  957.5775         5
4                        Eldon Fold 'N Roll Cart System   22.3680         2
...                                                 ...       ...       ...
9989                             Ultra Door Pull Handle   25.2480         3
9990  Tenex B1-RE Series Chair Mats for Low Pile Car...   91.9600         2
9991                              Aastra 57i VoIP phone  258.5760         2
9992  It's Hot Message Books with Stickers, 2 3/4" x 5"   29.6000         4
9993  Acco 7-Outlet Masterpiece Power Center, Wihtou...  243.1600         2

      Discount    Profit
0         0.00   41.9136
1         0.00  219.5820
2         0.00    6.8714
3         0.45 -383.0310
4         0.20    2.5164
...        ...       ...
9989      0.20    4.1028
9990      0.00   15.6332
9991      0.20   19.3932
9992      0.00   13.3200
9993      0.00   72.9480

[9994 rows x 21 columns]>

In [3]:
print(df.columns)

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [4]:
print(df.isna().sum())  #st√ºnlardakƒ± null deyerlerin sayƒ±

Row ID           0
Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
Quantity         0
Discount         0
Profit           0
dtype: int64

In [5]:
#Lazƒ±m olmayan xanalarƒ± sil…ôk
df=df.drop(columns=['Row ID','Order ID','Customer ID','Customer Name','Segment','Postal Code','Product ID','Country'])
print(df)

      Order Date   Ship Date       Ship Mode             City       State  \
0      11/8/2016  11/11/2016    Second Class        Henderson    Kentucky
1      11/8/2016  11/11/2016    Second Class        Henderson    Kentucky
2      6/12/2016   6/16/2016    Second Class      Los Angeles  California
3     10/11/2015  10/18/2015  Standard Class  Fort Lauderdale     Florida
4     10/11/2015  10/18/2015  Standard Class  Fort Lauderdale     Florida
...          ...         ...             ...              ...         ...
9989   1/21/2014   1/23/2014    Second Class            Miami     Florida
9990   2/26/2017    3/3/2017  Standard Class       Costa Mesa  California
9991   2/26/2017    3/3/2017  Standard Class       Costa Mesa  California
9992   2/26/2017    3/3/2017  Standard Class       Costa Mesa  California
9993    5/4/2017    5/9/2017    Second Class      Westminster  California

     Region         Category Sub-Category  \
0     South        Furniture    Bookcases
1     South        Furniture       Chairs
2      West  Office Supplies       Labels
3     South        Furniture       Tables
4     South  Office Supplies      Storage
...     ...              ...          ...
9989  South        Furniture  Furnishings
9990   West        Furniture  Furnishings
9991   West       Technology       Phones
9992   West  Office Supplies        Paper
9993   West  Office Supplies   Appliances

                                           Product Name     Sales  Quantity  \
0                     Bush Somerset Collection Bookcase  261.9600         2
1     Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400         3
2     Self-Adhesive Address Labels for Typewriters b...   14.6200         2
3         Bretford CR4500 Series Slim Rectangular Table  957.5775         5
4                        Eldon Fold 'N Roll Cart System   22.3680         2
...                                                 ...       ...       ...
9989                             Ultra Door Pull Handle   25.2480         3
9990  Tenex B1-RE Series Chair Mats for Low Pile Car...   91.9600         2
9991                              Aastra 57i VoIP phone  258.5760         2
9992  It's Hot Message Books with Stickers, 2 3/4" x 5"   29.6000         4
9993  Acco 7-Outlet Masterpiece Power Center, Wihtou...  243.1600         2

      Discount    Profit
0         0.00   41.9136
1         0.00  219.5820
2         0.00    6.8714
3         0.45 -383.0310
4         0.20    2.5164
...        ...       ...
9989      0.20    4.1028
9990      0.00   15.6332
9991      0.20   19.3932
9992      0.00   13.3200
9993      0.00   72.9480

[9994 rows x 13 columns]

In [6]:
#marketin satƒ±≈ülarƒ±
sales_total=df['Sales'].sum()
print(f"√úmumi satƒ±≈ü: ${sales_total:,.2f}")

√úmumi satƒ±≈ü: $2,297,200.86

In [7]:
sales_avg=df['Sales'].mean()
print(f"Ortalama satƒ±≈ü: ${sales_avg:,.2f}")

Ortalama satƒ±≈ü: $229.86

In [8]:
max_sales=df['Sales'].max()
print(f"Maksimum satƒ±≈ü: ${max_sales:,.2f}")

Maksimum satƒ±≈ü: $22,638.48

In [9]:
min_sales=df['Sales'].min()
print(f"Minimum satƒ±≈ü: ${min_sales:,.2f}")

Minimum satƒ±≈ü: $0.44

In [10]:
profit_total=df['Profit'].sum()
print(f"√úmumi m…ônf…ô…ôt: ${profit_total:,.2f}")

√úmumi m…ônf…ô…ôt: $286,397.02

In [11]:
profit_avg=df['Profit'].mean()
print(f"Ortalama m…ônf…ô…ôt: ${profit_avg:,.2f}")

Ortalama m…ônf…ô…ôt: $28.66

In [12]:
max_Profit=df['Profit'].max()
print(f"Maksimum m…ônf…ô…ôt: ${max_Profit:,.2f}")

Maksimum m…ônf…ô…ôt: $8,399.98

In [13]:
min_profit=df['Profit'].min()
print(f"Minimum m…ônf…ô…ôt: ${min_profit:,.2f}")

Minimum m…ônf…ô…ôt: $-6,599.98

In [14]:

#kateqoriyalara g√∂r…ô √ºmumi satƒ±≈ü,m…ônf…ô…ôt v…ô miqdarlarƒ±
total_sales_by_category=df.groupby('Category')['Sales'].sum()
for category, sales in total_sales_by_category.items():
    print(f"{category} kateqoriyasƒ± √ºzr…ô √ºmumi satƒ±≈ülar: ${sales:,.2f}")

Furniture kateqoriyasƒ± √ºzr…ô √ºmumi satƒ±≈ülar: $741,999.80
Office Supplies kateqoriyasƒ± √ºzr…ô √ºmumi satƒ±≈ülar: $719,047.03
Technology kateqoriyasƒ± √ºzr…ô √ºmumi satƒ±≈ülar: $836,154.03

In [15]:
total_profit_by_category=df.groupby('Category')['Profit'].sum()
for category, sales in total_profit_by_category.items():
    print(f"{category} kateqoriyasƒ± √ºzr…ô √ºmumi m…ônf…ô…ôt: ${sales:,.2f}")

Furniture kateqoriyasƒ± √ºzr…ô √ºmumi m…ônf…ô…ôt: $18,451.27
Office Supplies kateqoriyasƒ± √ºzr…ô √ºmumi m…ônf…ô…ôt: $122,490.80
Technology kateqoriyasƒ± √ºzr…ô √ºmumi m…ônf…ô…ôt: $145,454.95

In [16]:
sales_quantity_by_category=df.groupby('Category')['Quantity'].sum()
for category, sales in sales_quantity_by_category.items():
    print(f"{category} kateqoriyasƒ± √ºzr…ô √ºmumi satƒ±≈ü miqadarƒ±: {sales} …ôd…ôd")

Furniture kateqoriyasƒ± √ºzr…ô √ºmumi satƒ±≈ü miqadarƒ±: 8028 …ôd…ôd
Office Supplies kateqoriyasƒ± √ºzr…ô √ºmumi satƒ±≈ü miqadarƒ±: 22906 …ôd…ôd
Technology kateqoriyasƒ± √ºzr…ô √ºmumi satƒ±≈ü miqadarƒ±: 6939 …ôd…ôd

In [17]:
#Regionlar √ºzr…ô maksimum v…ô orta satƒ±≈ülar v…ô g…ôlirl…ôr
total_sales_by_region=df.groupby('Region')['Sales'].sum()
for Region, sales in total_sales_by_region.items():
    print(f"{Region} regionunda √ºmumi satƒ±≈ü: ${sales:,.2f}")

Central regionunda √ºmumi satƒ±≈ü: $501,239.89
East regionunda √ºmumi satƒ±≈ü: $678,781.24
South regionunda √ºmumi satƒ±≈ü: $391,721.91
West regionunda √ºmumi satƒ±≈ü: $725,457.82

In [18]:
total_profit_by_region=df.groupby('Region')['Profit'].sum()
for Region, profit in total_profit_by_region.items():
    print(f"{Region} regionunda √ºmumi g…ôlir: ${profit:,.2f}")

Central regionunda √ºmumi g…ôlir: $39,706.36
East regionunda √ºmumi g…ôlir: $91,522.78
South regionunda √ºmumi g…ôlir: $46,749.43
West regionunda √ºmumi g…ôlir: $108,418.45

In [19]:
avg_profit_by_region=df.groupby('Region')['Sales'].mean()
for Region, sales in avg_profit_by_region.items():
    print(f"{Region} regionunda ortalama satƒ±≈ü: ${sales:,.2f}")

Central regionunda ortalama satƒ±≈ü: $215.77
East regionunda ortalama satƒ±≈ü: $238.34
South regionunda ortalama satƒ±≈ü: $241.80
West regionunda ortalama satƒ±≈ü: $226.49

In [20]:
avg_profit_by_region=df.groupby('Region')['Profit'].mean()
for Region, profit in avg_profit_by_region.items():
    print(f"{Region} regionunda ortalama g…ôlir: ${profit:,.2f}")

Central regionunda ortalama g…ôlir: $17.09
East regionunda ortalama g…ôlir: $32.14
South regionunda ortalama g…ôlir: $28.86
West regionunda ortalama g…ôlir: $33.85

In [21]:
#≈ûtatlar √ºzr…ô √ºmumi satƒ±≈ü v…ô g…ôlir…ôl…ôr
total_sales_by_state=df.groupby('State')[['Sales','Profit']].sum().sort_values(by='Sales',ascending=False).reset_index()
print(total_sales_by_state)

                   State        Sales      Profit
0             California  457687.6315  76381.3871
1               New York  310876.2710  74038.5486
2                  Texas  170188.0458 -25729.3563
3             Washington  138641.2700  33402.6517
4           Pennsylvania  116511.9140 -15559.9603
5                Florida   89473.7080  -3399.3017
6               Illinois   80166.1010 -12607.8870
7                   Ohio   78258.1360 -16971.3766
8               Michigan   76269.6140  24463.1876
9               Virginia   70636.7200  18597.9504
10        North Carolina   55603.1640  -7490.9122
11               Indiana   53555.3600  18382.9363
12               Georgia   49095.8400  16250.0433
13              Kentucky   36591.7500  11199.6966
14            New Jersey   35764.3120   9772.9138
15               Arizona   35282.0010  -3427.9246
16             Wisconsin   32114.6100   8401.8004
17              Colorado   32108.1180  -6527.8579
18             Tennessee   30661.8730  -5341.6936
19             Minnesota   29863.1500  10823.1874
20         Massachusetts   28634.4340   6785.5016
21              Delaware   27451.0690   9977.3748
22              Maryland   23705.5230   7031.1788
23          Rhode Island   22627.9560   7285.6293
24              Missouri   22205.1500   6436.2105
25              Oklahoma   19683.3900   4853.9560
26               Alabama   19510.6400   5786.8253
27                Oregon   17431.1500  -1190.4705
28                Nevada   16729.1020   3316.7659
29           Connecticut   13384.3570   3511.4918
30              Arkansas   11678.1300   4008.6871
31                  Utah   11220.0560   2546.5335
32           Mississippi   10771.3400   3172.9762
33             Louisiana    9217.0300   2196.1023
34               Vermont    8929.3700   2244.9783
35        South Carolina    8481.7100   1769.0566
36              Nebraska    7464.9300   2037.0942
37         New Hampshire    7292.5240   1706.5028
38               Montana    5589.3520   1833.3285
39            New Mexico    4783.5220   1157.1161
40                  Iowa    4579.7600   1183.8119
41                 Idaho    4382.4860    826.7231
42                Kansas    2914.3100    836.4435
43  District of Columbia    2865.0200   1059.5893
44               Wyoming    1603.1360    100.1960
45          South Dakota    1315.5600    394.8283
46                 Maine    1270.5300    454.4862
47         West Virginia    1209.8240    185.9216
48          North Dakota     919.9100    230.1497

In [22]:
#≈û…ôh…ôrl…ôr √ºzr…ô √ºmumi satƒ±≈ü v…ô g…ôlirl…ôr
total_sales_by_city=df.groupby('City')[['Sales','Profit']].sum().sort_values(by='Sales',ascending=False).reset_index()
print(total_sales_by_city)

              City       Sales      Profit
0    New York City  256368.161  62036.9837
1      Los Angeles  175851.341  30440.7579
2          Seattle  119540.742  29156.0967
3    San Francisco  112669.092  17507.3854
4     Philadelphia  109077.013 -13837.7674
..             ...         ...         ...
526   Ormond Beach       2.808     -1.9656
527      Pensacola       2.214     -1.4760
528        Jupiter       2.064      0.1548
529         Elyria       1.824     -1.3984
530        Abilene       1.392     -3.7584

[531 rows x 3 columns]

In [23]:
#Sifari≈ü ve √ßatdƒ±rƒ±lma st√ºnlarƒ±nƒ±n datetime formatƒ±na √ßevrilmesi
df['order_date'] = pd.to_datetime(df['Order Date'], format='%m/%d/%Y')
df['ship_date'] = pd.to_datetime(df['Ship Date'], format='%m/%d/%Y')
print(df['order_date'].dtype)

datetime64[ns]

In [24]:
#Tarixin il,ay v…ô g√ºn hiss…ôl…ôrinin √ßƒ±xarƒ±lmasƒ±
df['order_year']=df['order_date'].dt.year
print(df['order_year'])

0       2016
1       2016
2       2016
3       2015
4       2015
        ...
9989    2014
9990    2017
9991    2017
9992    2017
9993    2017
Name: order_year, Length: 9994, dtype: int32

In [25]:
df['order_month']=df['order_date'].dt.month
print(df['order_month'])

0       11
1       11
2        6
3       10
4       10
        ..
9989     1
9990     2
9991     2
9992     2
9993     5
Name: order_month, Length: 9994, dtype: int32

In [26]:
df['order_day']=df['order_date'].dt.day
print(df['order_day'])

0        8
1        8
2       12
3       11
4       11
        ..
9989    21
9990    26
9991    26
9992    26
9993     4
Name: order_day, Length: 9994, dtype: int32

In [40]:
#ƒ∞ll…ôr…ô v…ô aylara g√∂r…ô satƒ±≈ülar
ill…ôr…ô_g√∂r…ô_satƒ±≈ü = df.groupby('order_year')[['Sales', 'Profit']].sum().reset_index()
print(ill…ôr…ô_g√∂r…ô_satƒ±≈ü)

   order_year        Sales      Profit
0        2014  484247.4981  49543.9741
1        2015  470532.5090  61618.6037
2        2016  609205.5980  81795.1743
3        2017  733215.2552  93439.2696

In [42]:
aylara_g√∂r…ô_satƒ±≈ü=df.groupby(['order_year', 'order_month'])[['Sales','Profit']].sum().reset_index()
print(aylara_g√∂r…ô_satƒ±≈ü)

    order_year  order_month        Sales      Profit
0         2014            1   14236.8950   2450.1907
1         2014            2    4519.8920    862.3084
2         2014            3   55691.0090    498.7299
3         2014            4   28295.3450   3488.8352
4         2014            5   23648.2870   2738.7096
5         2014            6   34595.1276   4976.5244
6         2014            7   33946.3930   -841.4826
7         2014            8   27909.4685   5318.1050
8         2014            9   81777.3508   8328.0994
9         2014           10   31453.3930   3448.2573
10        2014           11   78628.7167   9292.1269
11        2014           12   69545.6205   8983.5699
12        2015            1   18174.0756  -3281.0070
13        2015            2   11951.4110   2813.8508
14        2015            3   38726.2520   9732.0978
15        2015            4   34195.2085   4187.4962
16        2015            5   30131.6865   4667.8690
17        2015            6   24797.2920   3335.5572
18        2015            7   28765.3250   3288.6483
19        2015            8   36898.3322   5355.8084
20        2015            9   64595.9180   8209.1627
21        2015           10   31404.9235   2817.3660
22        2015           11   75972.5635  12474.7884
23        2015           12   74919.5212   8016.9659
24        2016            1   18542.4910   2824.8233
25        2016            2   22978.8150   5004.5795
26        2016            3   51715.8750   3611.9680
27        2016            4   38750.0390   2977.8149
28        2016            5   56987.7280   8662.1464
29        2016            6   40344.5340   4750.3781
30        2016            7   39261.9630   4432.8779
31        2016            8   31115.3743   2062.0693
32        2016            9   73410.0249   9328.6576
33        2016           10   59687.7450  16243.1425
34        2016           11   79411.9658   4011.4075
35        2016           12   96999.0430  17885.3093
36        2017            1   43971.3740   7140.4391
37        2017            2   20301.1334   1613.8720
38        2017            3   58872.3528  14751.8915
39        2017            4   36521.5361    933.2900
40        2017            5   44261.1102   6342.5828
41        2017            6   52981.7257   8223.3357
42        2017            7   45264.4160   6952.6212
43        2017            8   63120.8880   9040.9557
44        2017            9   87866.6520  10991.5556
45        2017           10   77776.9232   9275.2755
46        2017           11  118447.8250   9690.1037
47        2017           12   83829.3188   8483.3468

In [29]:

#ƒ∞ki tarix arasƒ±nda satƒ±≈ülarƒ±n m√ºqayis…ôsi
iki_il = df[df['order_year'].isin([2016, 2017])]
ayliq_muqayise = iki_il.groupby(['order_year', 'order_month'])['Sales'].sum().unstack(level=0)
print(ayliq_muqayise)

order_year         2016         2017
order_month
1            18542.4910   43971.3740
2            22978.8150   20301.1334
3            51715.8750   58872.3528
4            38750.0390   36521.5361
5            56987.7280   44261.1102
6            40344.5340   52981.7257
7            39261.9630   45264.4160
8            31115.3743   63120.8880
9            73410.0249   87866.6520
10           59687.7450   77776.9232
11           79411.9658  118447.8250
12           96999.0430   83829.3188

In [30]:
#Sifari≈ül…ôrin √ßatdƒ±rƒ±lma m√ºdd…ôti
df['delivery_time_days']=df['ship_date']-df['order_date']
print(df['delivery_time_days'])

0      3 days
1      3 days
2      4 days
3      7 days
4      7 days
        ...
9989   2 days
9990   5 days
9991   5 days
9992   5 days
9993   5 days
Name: delivery_time_days, Length: 9994, dtype: timedelta64[ns]

In [31]:
#Ship Mode g√∂r…ô ortalama √ßatdƒ±rƒ±lma vaxtƒ±
delivery_times = df.groupby('Ship Mode')['delivery_time_days'].mean().sort_values()
for ship_mode, avg_time in delivery_times.items():
    print(f"{ship_mode}: {avg_time.days} g√ºn")

Same Day: 0 g√ºn
First Class: 2 g√ºn
Second Class: 3 g√ºn
Standard Class: 5 g√ºn

In [32]:
#∆èn √ßox satƒ±lan 10 m…ôhsul
top_sales_10=df.groupby('Product Name')['Quantity'].sum().sort_values(ascending=False).head(10)
for product,quantity in top_sales_10.items():
    print(f"{product}: {quantity} …ôd…ôd")

Staples: 215 …ôd…ôd
Staple envelope: 170 …ôd…ôd
Easy-staple paper: 150 …ôd…ôd
Staples in misc. colors: 86 …ôd…ôd
KI Adjustable-Height Table: 74 …ôd…ôd
Storex Dura Pro Binders: 71 …ôd…ôd
Avery Non-Stick Binders: 71 …ôd…ôd
GBC Premium Transparent Covers with Diagonal Lined Pattern: 67 …ôd…ôd
Situations Contoured Folding Chairs, 4/Set: 64 …ôd…ôd
Staple-based wall hangings: 62 …ôd…ôd

In [33]:
#Sub-kateqoriyalara g√∂r…ô …ôn √ßox satƒ±lan 10 m…ôhsul
top_subcategory_10=df.groupby('Sub-Category')['Quantity'].sum().sort_values(ascending=False).head(10)
for subcategory,quantity in top_subcategory_10.items():
  print(f"{subcategory}: {quantity} …ôd…ôd")

Binders: 5974 …ôd…ôd
Paper: 5178 …ôd…ôd
Furnishings: 3563 …ôd…ôd
Phones: 3289 …ôd…ôd
Storage: 3158 …ôd…ôd
Art: 3000 …ôd…ôd
Accessories: 2976 …ôd…ôd
Chairs: 2356 …ôd…ôd
Appliances: 1729 …ôd…ôd
Labels: 1400 …ôd…ôd

In [34]:
#Kateqoriyalara g√∂r…ô …ôn √ßox satƒ±lan 10 m…ôhsul
category_10=df.groupby('Category')['Quantity'].sum().sort_values(ascending=False).head(10)
for category,quantity in category_10.items():
  print(f"{category}: {quantity} …ôd…ôd")

Office Supplies: 22906 …ôd…ôd
Furniture: 8028 …ôd…ôd
Technology: 6939 …ôd…ôd

In [35]:
#Kateqoriyalara g√∂r…ô satƒ±≈ülar
category_10=df.groupby('Category')['Sales'].sum().sort_values(ascending=False)
for category,sales in category_10.items():
  print(f"{category}: ${sales:,.2f} ")

Technology: $836,154.03
Furniture: $741,999.80
Office Supplies: $719,047.03

In [36]:
#Kateqoriyalara g√∂r…ô g…ôlirl…ôr
category_10=df.groupby('Category')['Profit'].sum().sort_values(ascending=False)
for category,profit in category_10.items():
  print(f"{category}: ${profit:,.2f} ")

Technology: $145,454.95
Office Supplies: $122,490.80
Furniture: $18,451.27

In [37]:
#∆èn √ßox g…ôlir g…ôtir…ôn 10 m…ôhsul
top_profitable_10=df.groupby('Product Name')['Profit'].sum().sort_values(ascending=False).head(10)
for product, profit in top_profitable_10.items():
    print(f"{product}: ${profit:,.2f}")

Canon imageCLASS 2200 Advanced Copier: $25,199.93
Fellowes PB500 Electric Punch Plastic Comb Binding Machine with Manual Bind: $7,753.04
Hewlett Packard LaserJet 3310 Copier: $6,983.88
Canon PC1060 Personal Laser Copier: $4,570.93
HP Designjet T520 Inkjet Large Format Printer - 24" Color: $4,094.98
Ativa V4110MDD Micro-Cut Shredder: $3,772.95
3D Systems Cube Printer, 2nd Generation, Magenta: $3,717.97
Plantronics Savi W720 Multi-Device Wireless Headset System: $3,696.28
Ibico EPK-21 Electric Binding System: $3,345.28
Zebra ZM400 Thermal Label Printer: $3,343.54

In [38]:
#∆èn √ßox ortalama endirim edil…ôn 10 m…ôhsul
top_discounted_10=df.groupby('Product Name')['Discount'].mean().sort_values(ascending=False).head(10)
for product,discount in top_discounted_10.items():
  print(f"{product}: Ortalma {discount*100:,.2f} % endirim:")

Eureka Disposable Bags for Sanitaire Vibra Groomer I Upright Vac: Ortalma 80.00 % endirim:
GBC Plasticlear Binding Covers: Ortalma 72.86 % endirim:
GBC VeloBinder Electric Binding Machine: Ortalma 72.50 % endirim:
Epson Perfection V600 Photo Scanner: Ortalma 70.00 % endirim:
Lexmark MarkNet N8150 Wireless Print Server: Ortalma 70.00 % endirim:
Zebra GK420t Direct Thermal/Thermal Transfer Printer: Ortalma 70.00 % endirim:
Hewlett-Packard Deskjet F4180 All-in-One Color Ink-jet - Printer / copier / scanner: Ortalma 70.00 % endirim:
Bush Westfield Collection Bookcases, Dark Cherry Finish, Fully Assembled: Ortalma 70.00 % endirim:
Cisco 8961 IP Phone Charcoal: Ortalma 70.00 % endirim:
Brother MFC-9340CDW LED All-In-One Printer, Copier Scanner: Ortalma 70.00 % endirim:

In [39]:
#Kateqoriyalara g√∂r…ô ortalama endiriml…ôr 
discounted_category=df.groupby('Category')['Discount'].mean().sort_values(ascending=False)
for product,discount in discounted_category.items():
  print(f"{product}: Ortalma {discount*100:,.2f} % endirim:")

Furniture: Ortalma 17.39 % endirim:
Office Supplies: Ortalma 15.73 % endirim:
Technology: Ortalma 13.23 % endirim:

# ∆èsas N…ôtic…ôl…ôr (Key Insights)
1)Texnologiya kateqoriyasƒ± …ôn y√ºks…ôk g…ôlir g…ôtir…ôn kateqoriyadƒ±r.
Satƒ±≈ülarƒ±n h…ôcmi nisb…ôt…ôn y√ºks…ôk olmaqla yana≈üƒ±, bu kateqoriyada g…ôlirlilik d…ô …ôn y√ºks…ôk s…ôviyy…ôd…ôdir. Bu, h…ôm qiym…ôt strategiyasƒ±nƒ±n, h…ôm d…ô m…ôhsulun bazarda y√ºks…ôk d…ôy…ôr…ô   sahib olduƒüunu g√∂st…ôrir.

2)"South" b√∂lg…ôsi satƒ±≈ü v…ô g…ôlir baxƒ±mƒ±ndan …ôn z…ôif b√∂lg…ôdir.
Dig…ôr b√∂lg…ôl…ôrl…ô m√ºqayis…ôd…ô bu b√∂lg…ôd…ô h…ôm satƒ±≈ülarƒ±n sayƒ± azdƒ±r, h…ôm d…ô g…ôlirlik s…ôviyy…ôsi a≈üaƒüƒ±dƒ±r. Bu, h…ômin b√∂lg…ôd…ô bazar payƒ±nƒ±n z…ôif olmasƒ± v…ô ya satƒ±≈ü strategiyasƒ±nƒ±n uƒüursuz olduƒüunu g√∂st…ôr…ô bil…ôr.

3)Endiriml…ôr m…ônf…ô…ôt…ô m…ônfi t…ôsir edir.
Analiz g√∂st…ôrir ki, endirim faizi artdƒ±qca m…ôhsullardan …ôld…ô olunan m…ônf…ô…ôt azalƒ±r. B…ôzi hallarda is…ô z…ôr…ôr m√º≈üahid…ô olunur. Bu da onu g√∂st…ôrir ki, endiriml…ôr d√ºzg√ºn h…ôd…ôfl…ônm…ôyib v…ô m…ônf…ô…ôt…ô z…ôr…ôr ver…ô bil…ôr.

4)"Furniture" kateqoriyasƒ± satƒ±≈ü baxƒ±mƒ±ndan aktiv olsa da, m…ônf…ô…ôt a≈üaƒüƒ±dƒ±r.
Satƒ±≈ülarƒ±n sayƒ± y√ºks…ôk olsa da, m…ôhsullarƒ±n m…ônf…ô…ôt marjasƒ± azdƒ±r v…ô tez-tez endirim olunur. Bu da g…ôlir…ô m…ônfi t…ôsir edir.

# T√∂vsiy…ôl…ôr (Yenil…ônmi≈ü)
1)Texnologiya sah…ôsin…ô daha √ßox diqq…ôt yetirilm…ôlidir.
∆èlav…ô m…ôhsullar, reklam kampaniyalarƒ± v…ô stok idar…ô√ßiliyi vasit…ôsil…ô bu sah…ôd…ô daha √ßox g…ôlir …ôld…ô oluna bil…ôr.

2)South b√∂lg…ôsind…ô bazar geni≈ül…ôndirilm…ôlidir.
Lokal kampaniyalar, …ôm…ôkda≈ülƒ±qlar v…ô m√º≈üt…ôri sadiqliyi proqramlarƒ± faydalƒ± ola bil…ôr.

3)Endirim siyas…ôti optimalla≈üdƒ±rƒ±lmalƒ±dƒ±r.
Yalnƒ±z h…ôd…ôfli v…ô data …ôsaslƒ± endiriml…ôr t…ôtbiq edilm…ôlidir. Endirim strategiyasƒ± g…ôlirliliy…ô uyƒüun qurulmalƒ±dƒ±r.

4)"Furniture" kateqoriyasƒ± n…ôz…ôrd…ôn ke√ßirilm…ôlidir.
Bu kateqoriyada daha az m…ônf…ô…ôt g…ôtir…ôn m…ôhsullar ya paketl…ô≈üdirilm…ôli, ya da qiym…ôt strategiyasƒ± yenil…ônm…ôlidir.